.about {
    display: none;
    @media (orientation: landscape),  screen and (min-width: $big-desktop) and (orientation: portrait) {
        display: block;
        height: 100%;
        width: 100%;
        padding-top: 22%;
        padding-left: 16%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.4s cubic-bezier(.02, .01, .47, 1);
        &__content {
            margin-right: auto;
            margin-left: auto;
        }
        &__text {
            font-size: 0.5279vw;
            line-height: 3.1em;
            letter-spacing: 0.06666em;
            font-family: 'Helvetica Neue Regular';
        }
        &__bold {
            font-weight: 600;
        }
    }
}