.about {
    display: none;
    @media (orientation: landscape), screen and (min-width: $desktop) and (orientation: portrait) {
        display: block;
        height: 100%;
        width: 100%;
        padding-top: 11.8vmin;
        padding-left: 3vmax;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.4s cubic-bezier(.02, .01, .47, 1);
        &__content {
            margin-right: auto;
            margin-left: auto;
        }
        &__text {
            font-size: 0.5279vw;
            line-height: 3em;
            letter-spacing: 0.0666em;
        }
    }
}