.about {
    display: none;
    @media (orientation: landscape), screen and (min-width: $desktop) and (orientation: portrait) {
        display: block;
        height: 100%;
        width: 100%;
        padding-top: 11.8vmin;
        padding-left: 4vmax;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.4s cubic-bezier(.02, .01, .47, 1);
        &__content {
            margin-right: auto;
            margin-left: auto;
        }
        &__text {
            font-size: 0.5279vw;
            line-height: 3em;
            letter-spacing: 0.0666em;
        }
    }
    @media (max-width: $tablet) and (orientation: landscape),
    (device-width: 1366px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
    (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        &__text {
            font-size: 1.1vw;
        }
    }
}