.column-right {
    display: none;
    @media (orientation: landscape), screen and (min-width: $desktop) {
        position: relative;
        width: 25%;
        display: flex;
        opacity: 0;
        z-index: -1;
        flex-direction: column;
    }
}