.contacts {
    @media(min-width: $desktop) {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        transition: opacity 0.4s cubic-bezier(.02, .01, .47, 1);
        text-align: right;
        padding-right: 0.5vw;
        &__text {
            font-size: 0.56vw;
            text-decoration: none;
            color: black;
            line-height: 2.4em;
            text-align: right;
            display: block;
            white-space: nowrap;
        }
        &__instagram {
            text-align: right;
            margin-top: 0.48vw;
            margin-bottom: 0.6vw;
            display: block;
        }
        &__instagram-svg {
            width: 1.1vw;
            height: 1.1vw;
        }
    }
}