.contacts {
    @media (orientation: landscape),  screen and (min-width: $big-desktop) and (orientation: portrait) {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        transition: opacity 0.4s cubic-bezier(.02, .01, .47, 1);
        text-align: right;
        padding-right: 0.45vw;
        &__text {
            font-family: 'Helvetica Neue Regular';
            font-size: 0.5279vw;
            letter-spacing: 0.06666em;
            text-decoration: none;
            color: black;
            line-height: 2em;
            text-align: right;
            display: block;
            white-space: nowrap;
        }
        &__instagram {
            text-align: right;
            margin-top: 0.28vw;
            margin-bottom: 0.8vw;
            display: block;
        }
        &__instagram-svg {
            width: 1vw;
            height: 1vw;
        }
    }
}