.container {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: 50%;
    &__content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
        &\--right {
            display: block;
        }
    }
    @media (orientation: landscape),
    screen and (min-width: $desktop) and (orientation: portrait) {
        &__content {
            flex-grow: 1;
            width: 60%;
            display: block;
            height: 100%;
        }
        &__background {
            position: absolute;
            background-repeat: no-repeat;
            background-size: 300%;
            background-position: 50%;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            transition: opacity .85s cubic-bezier(.455, .03, .515, .955);
            &\--1 {
                opacity: 1;
                background-color: white;
            }
            &\--2 {
                background-color: black;
                animation: border-fade-in 0.85s cubic-bezier(.455, .03, .515, .955) forwards;
            }
        }
    } // @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    //     &__content {
    //         width: 60%;
    //     }
    // }
}

@keyframes border-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}