.contacts {
    @media (orientation: landscape), screen and (min-width: $desktop) and (orientation: portrait) {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
        pointer-events: none; // transition: opacity 0.4s cubic-bezier(.02, .01, .47, 1);
        text-align: right;
        padding-right: 0.45vw;
        &__text {
            font-size: 0.5279vw;
            letter-spacing: 0.06666em;
            text-decoration: none;
            color: black;
            line-height: 1em;
            text-align: right;
            display: block;
            white-space: nowrap;
            margin-bottom: calc(var(--vh, 1vh) * 1.8);
            transition: color 0.3s;
            &:hover {
                color: #666;
            }
        }
        &__instagram {
            text-align: right;
            margin-top: 0.28vw;
            margin-bottom: 0.8vw;
            display: block;
        }
        &__instagram-svg {
            width: 1vw;
            height: 1vw;
        }
    }
    @media (max-width: $tablet) and (orientation: landscape),
    (device-width: 1366px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
    (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        &__text {
            font-size: 1.1vw;
            margin-bottom: calc(var(--vh, 1vh) * 3.744);
        }
        &__instagram-svg {
            width: 2vw;
            height: 2vw;
        }
        &__instagram {
            text-align: right;
            margin-top: 0.5824vw;
            margin-bottom: 2.2vw;
        }
    }
}