.info {
    position: absolute;
    display: flex; // align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s cubic-bezier(.02, .01, .47, 1);
    padding-left: 8.935vw;
    padding-right: 8.935vw;
    &__content {
        background-color: white; // padding-bottom: 15%; // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-left: 4.4675vw;
        padding-right: 4.4675vw;
    }
    &__second-page,
    &__first-page {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; // padding-bottom: 8.7891vmin;
    }
    &__description {
        font-size: 5vmin;
        letter-spacing: 0.034615em;
        margin-bottom: 1.5em;
        line-height: 2.153846em;
        text-align: center; // height: 30%;
        &\--desktop {
            display: none;
        }
    }
    &__schedule {
        margin-bottom: 0;
    }
    &__header {
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0.6em;
        color: #000000;
        font-size: 5.2vmin;
        line-height: 1.8em;
    }
    &__artists,
    &__director {
        margin-bottom: 6vmax;
    }
    &__small-text {
        color: #000000;
        font-size: 4.4vmin;
        line-height: 2.086957em;
        font-weight: 300;
        letter-spacing: 0.03478em;
        margin-bottom: 2em;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    &__second-page-text {
        color: #000000;
        font-size: 4.4vmin;
        line-height: 1.8em;
        font-weight: 300;
        letter-spacing: 0.03478em;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    &__email {
        color: black;
        text-decoration: none;
        margin-top: 2.2em;
    }
    &__instagram {
        &\--desktop {
            display: none;
        }
    }
    &__instagram-svg {
        width: 56px;
        height: 56px;
    }
    @media(max-width: $desktop - 1) and (orientation: landscape) {
        padding-left: 4%;
        padding-right: 4%;
        &__description {
            margin-bottom: 0.55em;
            margin-top: 0.75em;
        }
        &__second-page,
        &__first-page {
            height: auto;
        }
    }
    @media(min-width: $desktop) {
        display: none; // position: static;
        // padding: 0; // &__content {
        //     display: flex;
        //     flex-direction: column;
        //     overflow-y: hidden; // justify-content: space-between;
        //     padding: 0;
        //     width: 100%;
        // }
        // &__first-page {
        //     order: 1;
        //     padding: 0;
        //     height: auto;
        //     display: flex;
        //     justify-content: flex-end;
        //     flex-direction: row;
        // }
        // &__contact {
        //     // display: flex;
        //     text-align: right;
        // }
        // &__second-page {
        //     padding: 0;
        //     display: block;
        //     flex-grow: 0;
        //     flex-direction: row;
        //     justify-content: flex-start;
        //     height: auto;
        // }
        // &__instagram {
        //     display: block;
        //     margin: auto 0;
        //     &\--mobile {
        //         display: none;
        //     }
        //     &\--desktop {
        //         display: inline-block;
        //     }
        // }
        // &__address {
        //     margin-bottom: 0;
        // }
        // &__header {
        //     font-size: 0.6677vw;
        //     line-height: 1.3333em;
        //     display: inline-block;
        //     margin-bottom: 0;
        //     text-align: left;
        // }
        // &__artists,
        // &__director,
        // &__curator {
        //     margin-bottom: 0;
        // }
        // &__artists {
        //     display: none;
        // } // &__director, // &__curator {
        // //     display: flex;
        // // }
        // &__curator .info__second-page-text {
        //     margin-bottom: 0;
        // }
        // &__description {
        //     font-size: 0.6677vw;
        //     line-height: 1.3333em;
        //     margin-bottom: 0;
        //     text-align: left;
        //     &\--mobile {
        //         display: none;
        //     }
        //     &\--desktop {
        //         display: block;
        //     }
        // }
        // &__small-text {
        //     font-size: 0.6335vw;
        //     line-height: 1.3333em;
        //     margin-bottom: 1.8vh;
        // }
        // &__schedule {
        //     margin-bottom: 0;
        // }
        // &__email {
        //     margin-top: auto;
        // }
        // &__instagram-svg {
        //     width: 20px;
        //     height: 20px;
        // }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        &__description {
            font-size: 4vmin;
            line-height: 1.333em;
        }
        &__second-page-text {
            font-size: 4vmin;
            line-height: 1.333em;
            margin-bottom: 0;
        }
    }
}