.info {
    position: absolute;
    display: flex; // align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s cubic-bezier(.02, .01, .47, 1);
    padding-left: 3.75vw;
    padding-right: 3.75vw;
    &__content {
        background-color: white;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        padding-left: 9.75vw;
        padding-right: 9.75vw;
    }
    &__second-page,
    &__first-page {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; // padding-bottom: 8.7891vmin;
    }
    &__description {
        font-size: 3.9vmin;
        line-height: 2.8em;
        font-weight: 300;
        letter-spacing: 0.05em;
        margin-bottom: 3em;
        text-align: center; // height: 30%;
        &\--desktop {
            display: none;
        }
    }
    &__schedule {
        margin-bottom: 0;
    }
    &__header {
        text-transform: uppercase;
        font-weight: 700;
        text-align: center; // margin-bottom: 0.6em;
        color: #000000;
        font-size: 3.9vmin;
        line-height: 2.4em;
        letter-spacing: 0.05em;
    }
    &__artists {
        margin-bottom: 5.5vmax;
    }
    &__director {
        margin-bottom: 3vmax;
    }
    &__small-text {
        color: #000000;
        font-size: 3.9vmin;
        line-height: 2.8em;
        font-weight: 300;
        letter-spacing: 0.05em; // margin-bottom: 2em;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    &__second-page-text {
        color: #000000;
        font-size: 3.9vmin;
        line-height: 2.6em;
        font-weight: 300;
        letter-spacing: 0.05em;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    &__email {
        color: black;
        text-decoration: none;
    }
    &__address {
        margin-bottom: 4em;
    }
    &__instagram {
        display: inline-block;
    }
    &__instagram-svg {
        width: 7vmin;
        height: 7vmin;
    }
    @media (orientation: landscape),
    screen and (min-width: $big-desktop) and (orientation: portrait) {
        display: none;
    }
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        &__small-text,
        &__second-page-text,
        &__description,
        &__header {
            font-size: 2.5vmin;
        }
    }
}