.intro {
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    @media (orientation: landscape),  screen and (min-width: $big-desktop) and (orientation: portrait) {
        background-image: url('../img/logo.svg');
        width: 100%;
        height: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        z-index: 11;
        background-size: 32%;
        opacity: 1;
        animation: hide-intro .85s cubic-bezier(.455, .03, .515, .955) 8s forwards;
        background-color: white;
    }
}

@keyframes hide-intro {
    0% {
        opacity: 1;
        z-index: 11;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}