.intro {
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    @media (orientation: landscape), screen and (min-width: $desktop) {
        background-image: url('../img/logo.svg');
        width: 100%;
        height: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        z-index: -1;
        background-size: 32%;
        opacity: 0;
        animation: hide-intro 1.85s cubic-bezier(.455, .03, .515, .955) forwards;
        background-color: white;
    }
    @media (max-width: $tablet),
    (device-width: 1366px) and (device-height: 1024px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
        display: none;
    }
}

@keyframes hide-intro {
    0% {
        opacity: 1;
        z-index: 11;
    }
    0.459459% {
        opacity: 1;
        z-index: 11;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}