.show-slide {
    opacity: 1;
    transition: opacity .85s cubic-bezier(.455, .03, .515, .955);
    transition-delay: 0.85s;
    @media (orientation: landscape), screen and (min-width: $desktop) {
        &#slide0 {
            opacity: 1;
            animation: show-slide 2.7s cubic-bezier(.455, .03, .515, .955) forwards;
        }
        opacity: 1;
        z-index: 1;
    }
}

@keyframes show-slide {
    0% {
        opacity: 0;
    }
    68.5185% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}