.show-slide {
    opacity: 1;
    transition: opacity .85s cubic-bezier(.455, .03, .515, .955);
    transition-delay: 0.85s; // .slide__img {
    //     opacity: 1;
    // }
    @media (orientation: landscape),  screen and (min-width: $big-desktop) and (orientation: portrait) {
        transition: opacity .85s cubic-bezier(.455, .03, .515, .955);
        transition-delay: 0.85s;
        -webkit-transform: translateZ(0);
        &#slide0 {
            opacity: 1;
            animation: show-slide 9.7s cubic-bezier(.455, .03, .515, .955) forwards;
        }
        opacity: 1;
        z-index: 1;
    }
}

@keyframes show-slide {
    0% {
        opacity: 0;
    }
    91.2371% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}