.slide {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity .85s cubic-bezier(.455, .03, .515, .955);
    opacity: 0;
    transform: translate3d(1.0, 1.0, 1.0);
    &\--visible {
        opacity: 1;
    }
    &__artist {
        font-size: 4.3vw;
        letter-spacing: 0.091em;
        line-height: 1.9545em;
        text-decoration: none;
        color: black;
    }
    &__portfolio {
        color: #9b9b9b;
        text-decoration: none;
        font-size: 4.3vw;
        letter-spacing: 0.091em;
        line-height: 1.9545em;
        transition: color .4s;
        &:hover {
            color: black;
        }
    }
    &__img {
        width: 100%;
        flex-shrink: 1;
        height: 70%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        margin: 0;
        margin-bottom: calc(var(--vh, 1vh) * 2);
        &\--desktop {
            display: none;
        }
    }
    &__arrow\--down {
        margin-top: auto;
    }
    @media (orientation: landscape),
    screen and (min-width: $desktop) {
        opacity: 0;
        z-index: -1;
        transition-delay: initial;
        padding: 0; // margin: 0;
        &__img {
            margin: 0;
            height: 100%;
            background-image: none !important;
            &\--desktop {
                width: 100%;
                display: block;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &__artist {
            &\--mobile {
                display: none;
            }
        }
        &__portfolio {
            &\--mobile {
                display: none;
            }
        }
    }
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
    (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        padding-bottom: 4vmin;
        &__artist {
            font-size: 2.8646vw;
            letter-spacing: 0.091em;
            line-height: 1.9545em;
        }
        &__portfolio {
            font-size: 2.8646vw;
            letter-spacing: 0.091em;
            line-height: 1.9545em;
        }
        &__img {
            background-size: 90%;
        }
    }
}