.slide {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 19vmin;
    transition: opacity .85s cubic-bezier(.455, .03, .515, .955);
    opacity: 0;
    &\--visible {
        opacity: 1;
    }
    &__artist {
        font-size: 4.5vw;
        margin-bottom: .5em;
        text-decoration: none;
        color: black;
        -webkit-transform: translateZ(0);
    }
    &__portfolio {
        color: #9b9b9b;
        text-decoration: none;
        font-size: 4.5vw;
        transition: color .4s;
        -webkit-transform: translateZ(0);
        &:hover {
            color: black;
        }
    }
    &__img {
        width: 100%;
        flex-shrink: 1;
        height: 70%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        margin: 0;
        margin-bottom: 2vh; // opacity: 0;
    }
    &__arrow\--down {
        margin-top: auto;
    }
    @media (orientation: landscape),
    screen and (min-width: $big-desktop) and (orientation: portrait) {
        opacity: 0;
        z-index: -1;
        transition-delay: initial;
        padding: 0; // margin: 0;
        &__img {
            margin: 0;
            height: 100%;
            width: 100%;
        }
        &__artist {
            &\--mobile {
                display: none;
            }
        }
        &__portfolio {
            &\--mobile {
                display: none;
            }
        }
    }
    @media only screen and (min-device-width: 1024px) and (max-device-width: $big-desktop - 1) and (orientation: portrait),
    (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        &__artist {
            font-size: 2.86vw;
            line-height: 1.95em;
            letter-spacing: 0.09em;
        }
        &__portfolio {
            font-size: 2.86vw;
            line-height: 1.95em;
            letter-spacing: 0.09em;
        }
    }
    @media(max-width: $desktop - 1) and (orientation: landscape),
    (min-device-width: 1024px) and (max-device-width: $big-desktop - 1) and (orientation: landscape),
    (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        opacity: 1;
        z-index: 1;
    }
}