.slider {
    height: 100%; // padding-bottom: 4vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.4s cubic-bezier(.02, .01, .47, 1);
    transition-delay: 0.4s;
    z-index: 10;
    opacity: 1;
    background-color: white;
    &__wrapper {
        flex-grow: 1;
        overflow: hidden;
        height: 100%;
        width: 100%;
        padding-left: 3.75vw;
        padding-right: 3.75vw;
    }
    &__content {
        padding-left: 9.75vw;
        padding-right: 9.75vw;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        height: 100%;
    }
    @media (orientation: landscape),
    screen and (min-width: $big-desktop) and (orientation: portrait) {
        position: relative;
        padding: 0;
        background-color: transparent;
        &__content {
            z-index: -1;
            position: relative;
            padding: 0;
            overflow-y: scroll;
            margin-right: -17px; //hide scrollbar on Firefox
            padding-right: 17px;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none; // IE 10+
            overflow: -moz-scrollbars-none; // Firefox
            &::-webkit-scrollbar {
                display: none; // Safari and Chrome
            }
        }
        &__wrapper {
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            overflow: hidden;
            cursor: pointer;
        }
        &\--big {
            .slide {
                opacity: 1;
            }
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}
}