@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    src: local("Helvetica Neue Light"), local("HelveticaNeue-Light"), url('../fonts/HelveticaNeue-Light.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue Regular';
    font-style: normal;
    font-weight: normal;
    src: local("Helvetica Neue Regular"), local("HelveticaNeue-Regular"), url('../fonts/HelveticaNeue-Regular.woff') format('woff');
}

*,
body,
html,
*::after,
*::before,
    {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: 0;
    outline: none;
}

html {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: black;
}

body {
    height: 100%;
    min-height: 100%; // overflow: hidden;
    // display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
}

:root {
    --edge-width: 3px;
}

$desktop: 769px;
$big-desktop: 1367px;